# Ignore IntelliJ IDEA-specific files
.idea/
*.iml
*.iws

# Ignore Maven or Gradle output directories
target/
build/

# Ignore temporary files
*.log
*.out
*.class

# Ignore Java-specific files
*.war
*.ear
*.jar

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore other IDEs and editors
.vscode/
*.swp

# Ignore dependency directories
/.mvn/
.gradle/
